/*********************************
4. Home
*********************************/

.home
{
  width: 100%;
  height: 484px;
}
.home_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_content_container
{
  position: absolute;
  left: 0;
  bottom: 110px;
  width: 100%;
}
.current_page
{
  font-size: 60px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.75;
}
.breadcrumbs
{
  line-height: 0.75;
}
.breadcrumbs ul li
{
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.breadcrumbs ul li:not(:last-child)::after
{
  display: inline-block;
  content: '/';
  margin-left: 4px;
  margin-right: 0px;
  line-height: 0.75;
}
.breadcrumbs ul li a
{
  color: #329fec;
  line-height: 0.75;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
  color: #FFFFFF;
}
